<div class="landing-container">
    <mat-card class="welcome-card">
        <mat-card-content>
            <h1>Bienvenido a Mi Condominio Digital</h1>
            <p class="subtitle">Administra tu condominio con facilidad y seguridad.</p>

            <div class="button-group">
                <button mat-stroked-button color="accent" routerLink="/auth/login">
                    Iniciar Sesión
                </button>
                <button mat-stroked-button color="accent" routerLink="/auth/register">
                    Registrarse
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>