<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
</form>