<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openEditProfileDialog()">
    <mat-icon>edit</mat-icon>
    <span>Editar Perfil</span>
  </button>
  <button mat-menu-item routerLink="/dashboard/payment-methods">
    <mat-icon>credit_card</mat-icon>
    <span>Metodos de pago</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>