<div class="admin-resident-overview">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Gestión de Residentes</mat-card-title>
      <mat-card-subtitle>Crea y administra las cuentas de los residentes del condominio.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Haz clic en el botón para agregar un nuevo residente al sistema.</p>
      <button mat-flat-button color="primary" (click)="openCreateResidentDialog()">
        <mat-icon>person_add</mat-icon>
        Agregar Nuevo Residente
      </button>
      </mat-card-content>
  </mat-card>
</div>