.payment-register-form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.full-width {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 16px; 
}

.form-field-half {
  flex: 1; 
}

mat-dialog-actions {
  padding: 8px 24px 16px;
}


button[mat-flat-button] mat-spinner {
    display: inline-block;
    vertical-align: middle;
}