.actions-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1;
}

.delete-button {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.full-width {
  width: 100%;
}