.payment-details {
    margin-bottom: 16px;

    p {
        margin: 4px 0;
        font-size: 14px;
    }
}

.payment-methods {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;

    button {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: 500;
        text-transform: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .payment-icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    
    .not-supported-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff3e0; /* A light orange background */
    border: 1px solid #ffc107; /* An orange border */
    border-radius: 4px;
    color: #c56000; /* A dark orange text color */
    margin-bottom: 16px;
    }

    .not-supported-message mat-icon {
    margin-right: 8px;
    }
}